{% extends "base.html" %}
{% load static %}

{% block title %}Закупки{% endblock %}

{% block content %}
<style>
    input[type='number'] {
        width: 68.8px;height: 29.6px;margin: 25px;border-radius: 7px;border-color: var(--bs-purple);
    }
    .search-input{
        border-radius: 7px;border-color: var(--bs-purple);
        margin: 0 20px;
        padding: 5px 10px;
        max-width: 300px;
        width: 100%;
    }
</style>
<div class="container">
    <form action="." method="POST" class="row">
        {% csrf_token %}
        <div class="col"><label class="form-label">Количество места на складе:</label>{{ form.space }}<button class="btn btn-primary" type="submit" style="background: #d426ff;border-radius: 7px;border-style: none;">Сохранить</button></div>
        <div class="col-md-6"><label class="form-label" style="margin: 28px;">Осталось мест:</label><label class="form-label">{{ warehouse.get_free_space }}</label><a href="{% url 'add_purchase' %}" class="btn btn-primary float-end" type="button" style="background: #846be8;border-radius: 7px;border-style: none;margin: 22px;">Добавить товар</a></div>
    </form>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'csv_purchases' %}" class="btn btn-info exportToExcel ml-2 mb-2" type="button"><strong>Экспорт в excel</strong></a>
        </div>
        <div class="col-md-6">
            <label class="form-label">Поиск:</label><input type="text" class="search-input"><button class="btn btn-primary search-input-btn" style="background: #d426ff;border-radius: 7px;border-style: none;">Найти</button>
        </div>
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="container">
    <div class="row">

        <p></p>


        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Закупки</h3>
                    </div>
                    
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list table_sort">
                    <thead>
                        <tr>
                            <th><em class="fa fa-cog"></em></th>
                            <th class="hidden-xs">ID</th>
                            <th>Название товара</th>
                            <th>Дата закупки</th>
                            <th>Количество доставляемого товара</th>
                            <th>Стоимость доставки, р</th>
                            
                        </tr> 
                    </thead>
                        <tbody>
                            {% for purchase in purchases %}
                            <tr>
                                <td align="center">
                                    <a href="{% url 'edit_purchase' purchase.id %}" class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                    <a href="{% url 'complete_purchase' purchase.id %}" class="btn btn-success"><em class="fa fa-check"></em></a>
                                    <a href="{% url 'delete_purchase' purchase.id %}" class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                </td>
                                <td class="hidden-xs">{{ purchase.id }}</td>
                                <td>{{ purchase.title }}</td>
                                <td>{{ purchase.date|date:"Y-m-d" }}</td>
                                <td>{{ purchase.amount }}</td>
                                <td>{{ purchase.cost }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/calc.js' %}"></script>
<script src="{% static 'js/sort.js' %}"></script>
<script>
    $(".btn-danger, .btn-success").click(function(event) {
        event.preventDefault();
        var req = confirm("Вы уверены?");
            if (req){
                $.get($(this).attr('href'))
                $(this).parent("td").parent("tr").remove()
            }
    })

    $(".search-input").val(window.location.search.split("=")[1])

    $(".search-input-btn").click(function() {
        window.location.href = "?search=" + $(".search-input").val()
    })
</script>
{% endblock %}